.web-polyfills-browser-warning {
  display: none;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #e09a00;
  color: #eee;
  font-family: sans-serif;
  padding: 10px;
  z-index: 3000;

  p {
    display: none;
    margin: 0;
  }

  a {
    color: #fff;
    font-weight: bold;

    &:hover {
      color: #fff;
    }

    &.close {
      position: absolute;
      top: 0;
      right: 8px;
      text-decoration: none;
    }
  }
}
